.page{
	
	width: 100%;
	height: auto;
	margin: auto;
}
.page .box1{
	width: 100%;
	height: 30px;
	background: #0088CC;
	z-index: 0;
	float: left;

}
.page .bo2{
	width: 100%;
	height: 100px;
	background: white;
	float: left;
}
.page .box3{
	width: 100%;
	height: 500px;
	float: left;
	z-index: 0;

}
.page .box4{
	width: 100%;
	height: 300px;
	background: black
	float: left;
}
.page .box5{
	width: 100%;
	height: 120px;
	
	float: left;
}
.page .box6{
	width: 100%;
	height: 400px;
	/*background: white;*/
	float: left;
	z-index: 0;
}
.page .box7{
	width: 100%;
	height: 230px;
	background: blue;
	float: left;
}
.page .box8{
	width: 100%;
	height: 500px;
	/*background: red;*/
	float: left;
}
.page .box9{
	width: 100%;
	height: 250px;
	
	float: left;
}
.page .box10{
	width: 100%;
	height: 320px;
	background: #055278;
	float: left;
}
.page .box11{
	width: 100%;
	height: 50px;
	background: #00415F;
	float: left;
}
.email{
	width : 300px;
	height: 30px;
	float: left;	
}
.sdt{
	width: 300px;
	height: 30px;
	float: left;
}
.luachon{
	width: 40%;
	height: 30px;
	float: right;
}
.gthieu{
	width: 100px;
	height: 30px;
	float: left;
}
.mndep{
	width: 100px;
	height: 30px;
	float: left;
}
.tdung{
	width: 100px;
	height: 30px;
	float: left;
}
.lienhe{
	 width: 100px;
	height: 30px;
	float: left;
}
.logo{
	width: 300px;
	height: 100px;
	float: left;
}
#box2 ul{
list-style-type: none;one;
background: white;
text-align: center;
overflow: hidden;
/*margin: 0;
padding: 0;*/

}
#box2 ul li {
  float: left;
}
#box2 ul li a{
	color: black;
	text-decoration: none;
	display: block;
	font-size: 15px;
	text-align: center;
  	padding: 8px 10px;	
  	font-size: 14px;
  	margin-top: 20px;
}
#box2 ul li a:hover {
	background: white;
	color:#0088CC;
}

.box3 img{
	width: 100%;
	height: 500px;
	position: relative;
}
.box3 h1{
	position: absolute;
	color: white;
	top: 300px;
	right: 100px;
}
.box3 p{
	position: absolute;
	color: white;
	top: 350px;
	right: 100px;
}
.anh1{
	width: 24%;
	height: 250px;
	background: yellow;
	float: left;
	margin-top: 50px;
	margin-left: 9%;
}
.anh2{
	width: 24%;
	height: 250px;
	background: yellow;
	float: left;
	margin-top: 50px;
	margin-left:4%;
	margin-right:4%;
}
.anh3{
	width: 24%;
	height: 250px;
	background: yellow;
	float: left;
	margin-top: 50px;
	margin-right:9%
}
.anh3 a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	float: left;
	border-style: solid;
	padding: 0.5rem 0.8rem;
	margin-top: 100px;
	margin-left: 115px;
	position: absolute;

}
.anh3 a:hover{
	
	background: orange;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	border-color: orange;
}
.anh3 img{
	width: 100%;
	height: 100%;

}
.anh2 a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	float: left;
	border-style: solid;
	padding: 0.5rem 0.8rem;
	margin-top: 100px;
	margin-left: 115px;
	position: absolute;
}
.anh2 a:hover{
	
	background: orange;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	border-color: orange;
	}	
.anh2 img{
	width: 100%;
	height: 100%;
}
.anh1 a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	float: left;
	border-style: solid;
	padding: 0.5rem 0.8rem;
	margin-top: 100px;
	margin-left: 115px;
	position: absolute;
}
.anh1 a:hover{
	
	background: orange;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	border-color: orange;
	}	
.anh1 img{
	height: 100%;
	width: 100%;
}
.box5 h3{
	margin-left: 40%;
	margin-top: 30px;
}
.box5 ul{
list-style-type: none;one;
background: white;
text-align: center;
overflow: hidden;
/*margin: 0;
padding: 0;*/

}
.box5 ul li {
  float: left;

}
.box5 ul li a{
	color: black;
	text-decoration: none;
	display: block;
	font-size: 15px;
	text-align: center;
  	padding: 8px 10px;	
  	font-size: 14px;
  	margin-top: 5px;
}
.box5 ul li a:hover {
	background: white;
	color:#0088CC;
	border-style: solid;
	border-width: 5px 0 0 0;
}
.bo5{
	width: 50%;
	height: 50%;
	float: left;
	margin-left: 30%;
	margin-top: 0px;

}
.box6 .h1{
	width: 250px;
	height: 169px;
	background: black;
	float: left;
	z-index: 1;
	margin-left: 140px;
}
.box6 .h2{
	width: 250px;
	height: 169px;
	background: black;
	float: left;
	z-index: 1;
	margin-left: 50px;
}
.box6 .h3{
	width: 250px;
	height: 169px;
	background: black;
	float: left;
	z-index: 1;
	margin-left:  50px;
}
.box6 .h4{
	width: 250px;
	height: 169px;
	background: black;
	float: right;
	z-index: 1;
	margin-right:135px;
}
.box6 .h5{
	width: 250px;
	height: 169px;
	background: black;
	float: left;
	z-index: 1;
	margin-left: 140px;
	margin-top: 30px;
}
.box6 .h6{
	width: 250px;
	height: 169px;
	background: black;
	float: left;
	z-index: 1;
	margin-left: 50px;
	margin-top: 30px;
}
.box6 .h7{
	width: 250px;
	height: 169px;
	background: black;
	float: left;
	z-index: 1;
	margin-left:  50px;
	margin-top: 30px;
}
.box6 .h8{
	width: 250px;
	height: 169px;
	background: black;
	float: right;
	z-index: 1;
	margin-right:135px;
	margin-top: 30px;
}
.box6 h6{
	color: white;
	position: absolute;
	margin-top: 100px;
	margin-left: 30px;
}
.h1 img{
	width: 100%;
	height: 100%;
	position:
}
.h2 img{
	width: 100%;
	height: 100%;
}
.h3 img{
	width: 100%;
	height: 100%;
}
.h4 img{
	width: 100%;
	height: 100%;
}
.h5 img{
	width: 100%;
	height: 100%;
}
.h6 img{
	width: 100%;
	height: 100%;
}
.h7 img{
	width: 100%;
	height: 100%;
}
.h8 img{
	width: 100%;
	height: 100%;
}
.box7 img{
	width: 100%;
	height: 100%;
}
.box7 h3{
	position: absolute;
	margin-top: 30px;
	margin-left: 20px;
}
.box7 p{
	position: absolute;
	margin-top: 70px;
	margin-right: 300px;
	margin-left: 20px;
}
.box8 h5{
	color: black;
	margin-top: 30px;
	margin-bottom: 15px;
}
.n1{
	width: 25%;
	height: 250px;
	background: red;
	float: left;
	margin-left: 10%;
}
.n2{
	width: 25%;
	height: 250px;
	background: red;
	float: left;
	margin-left: 30px;
}
.n3{
	width: 25%;
	height: 250px;
	background: red;
	float: right;
	margin-right: 10%;
}
.n1 img{
	width: 100%;
	height: 100%;
}
.n2 img{
	width: 100%;
	height: 100%;
}
.n3 img{
	width: 100%;
	height: 100%;
}
.tron1{
	width: 150px;
	height: 150px;
	
	border-radius: 50%;
	position: absolute;
	margin-left: 180px;
	float: left;
}
.tron1 img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.ba1{
	width: 50%;
	height: 100%;
	
	float: left;
}
.chu1{
	width: 50%;
	height: 100%;
	
	float: right;
}
.chu1 p{
	margin-top: 20px;
}
.ong1{
	width: 50%;
	height: 100%;
	
	float: left;
}
.tron2{
	width: 150px;
	height: 150px;
	
	border-radius: 50%;
	position: absolute;
	margin-left: 30px;
	float: left;
}
.tron2 img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.chu2{
	width: 50%;
	height: 100%;
	float: right;
	
	margin-right: 150px;
}
.chu2 p{
	margin-top: 20px;
}
.cu1{
	width: 18%;
	height: 100%;
		float: left;
	margin-left: 160px;
}
.cu2{
	width: 18%;
	height: 100%;
	
	float: left;
	margin-left: 20px;
}
.cu3{
	width: 18%;
	height: 100%;
	
	float: left;
	margin-left: 20px;
}
.cu4{
	width: 18%;
	height: 100%;
	
	float: left;
	margin-left: 20px;
}
.cu1 h6{
	margin-left: 15px;
	margin-top: 20px;
}
.cu2 h6{
	margin-left: 15px;
	margin-top: 20px;
}
.cu3 h6{
	margin-left: 15px;
	margin-top: 20px;
}
.cu4 h6{
	margin-left: 15px;
	margin-top: 20px;
}
.cuoi1{
	margin-top: 15px;
	margin-left: 160px;
}
.cuoi2{
	float: right;
	margin-top: 15px;
	margin-right: 160px;
}




























